body {
      background-image: url("https://3.bp.blogspot.com/-B5ELAwZBS2I/XNTwclI8r6I/AAAAAAAANNM/u-hoGYH8I3w4h6hOcKCXMTp3UU3E2anxgCLcBGAs/s1600/background%2Bpowerpoint%2Bmedical%2Bstethoscope.JPG");
      margin:1cm;
 }
 a{
   color : #FFFFFF;
 }

.ab{
  padding:1cm;
  border:10px solid white;
  margin-bottom: 50px;
  background-image:url("https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60g");
}
.ac{
padding:1cm;
margin-left:150px;
border:10px solid white;
margin-bottom: 50px;
background-image: url("https://images.unsplash.com/photo-1468657988500-aca2be09f4c6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
.ad{
padding:1cm;
margin-top: 50px;
border:10px solid white;
background-image: url("https://images.unsplash.com/photo-1496989981497-27d69cdad83e?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
.ae{
padding: 1cm;
margin-top: 50px;
margin-left:150px;
border:10px solid white;
background-image: url("https://images.unsplash.com/photo-1485758152456-1e91810337e0?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
.row{
color: white;
height : 16cm;
font-size:25px;
}
.row i{
  font-size:60px;
  margin-left: 110px;
  margin-top:40px;
}
.row h4{
  margin-top: 30px;
  font-size:30px;
}
.ind{
  margin-top:100px;
}
.atul{
  margin-top:100px;
  text-align:center;
  font-size:50px;
  font-weight: bold;
  color:black;
}
table,th,td {
  border: 6px solid white;
}
.deb{
  margin-top:80px;
  text-align: center;

}
